<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>공개소프트웨어 2조 TwoRoLLess</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/two.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">TWOROLLESS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/SNS">SNS 모아보기</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 트렌드
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/stat/show-trend">공연 트렌드</a></li>
                                <li><a class="dropdown-item" href="/stat/place-trend">공연장 트렌드</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/stat/place">공연장 정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 정보 (오프라인)
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/show/musical">뮤지컬</a></li>
                                <li><a class="dropdown-item" href="/show/play">연극</a></li>
                                <li><a class="dropdown-item" href="/show/concert">콘서트</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                공연 정보 (온라인)
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="/online/musical">뮤지컬</a></li>
                                <li><a class="dropdown-item" href="/online/play">연극</a></li>
                                <li><a class="dropdown-item" href="/online/concert">콘서트</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <!--bg-dark py-4 mt-auto-->
        <header class="bg-light py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3"> 공연장 트렌드 </h1>
                            <p class="lead fw-normal text-muted mb-4" style="font-size: x-large;">
                                코로나 이후 방문율이 증가한 모든 공연장을 확인할 수 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="py-2">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-1 font-weight-bold" , style="text-align: center; font-size:xx-large;">
                        코로나 이후 방문율 증가 공연장
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless" style="width: 100%; margin: auto;">
                            <tr>
                                <td>
                                    <table class="table table-bordered" style="width: 100%; margin: auto;">
                                        <thead>
                                            <tr style="background-color:lightblue">
                                                <th colspan='2' style="text-align: center; font-size:xx-large;"> 서울특별시 </th>
                                            </tr>
                                            <tr style="background-color:lightblue">
                                                <th style="text-align: center; font-size:x-large;"> 시/군/구 </th>
                                                <th style="text-align: center; font-size:x-large;"> 시설 이름 </th>
                                        </thead>
                                        <tbody>
                                            <% for (var i in data1) { %>
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <%= data1[i].signgu_nm %>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <%= data1[i].fclty_nm %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table class="table table-bordered" , style="width: 100%; margin: auto;">
                                        <thead>
                                            <tr style="background-color:lightblue">
                                                <th colspan='2' style="text-align: center; font-size:xx-large;"> 경기도
                                                </th>
                                            </tr>
                                            <tr style="background-color:lightblue">
                                                <th style="text-align: center; font-size:x-large;"> 시/군/구
                                                </th>
                                                <th style="text-align: center; font-size:x-large;"> 시설 이름
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i in data2) { %>
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <%= data2[i].signgu_nm %>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <%= data2[i].fclty_nm %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table class="table table-bordered" , style="width: 100%; margin: auto;">
                                        <thead>
                                            <tr style="background-color:lightblue">
                                                <th colspan='2' style="text-align: center; font-size:xx-large;"> 부산광역시 </th>
                                            </tr>
                                            <tr style="background-color:lightblue">
                                                <th style="text-align: center; font-size:x-large;"> 시/군/구 </th>
                                                <th style="text-align: center; font-size:x-large;"> 시설 이름 </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i in data3) { %>
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <%= data3[i].signgu_nm %>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <%= data3[i].fclty_nm %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </td>

                                <td>
                                    <table class="table table-bordered" , style="width: 100%; margin: auto;">
                                        <thead>
                                            <tr style="background-color:lightblue">
                                                <th colspan='3' style="text-align: center; font-size:xx-large;"> 그 외 지역 </th>
            
                                            </tr>
                                            <tr style="background-color:lightblue">
                                                <th style="text-align: center; font-size:x-large;"> 시/도 </th>
                                                <th style="text-align: center; font-size:x-large;"> 시/군/구 </th>
                                                <th style="text-align: center; font-size:x-large;"> 시설 이름 </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i in data4) { %>
                                                <tr>
                                                    <td style="text-align: center;">
                                                        <%= data4[i].ctprvn_nm %>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <%= data4[i].signgu_nm %>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <%= data4[i].fclty_nm %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </td>

                              </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; TwoRolless 2021 </div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>